In [144]:
import argparse
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [145]:
capture_34 = "/Users/yujinkwon/Documents/CS334/Final_project/opt/Malware-Project/BigDataset/IoTScenarios/CTU-IoT-Malware-Capture-34-1/bro/conn.log.labeled"

In [146]:

df34 = pd.read_table(capture_34, skiprows = 8, delimiter='\t', header =None) 
df34.columns = [
    'ts',	
    'uid',
    'id.orig_h',
    'id.orig_p',
    'id.resp_h',
    'id.resp_p',
    'proto',
    'service',
    'duration',
    'orig_bytes',
    'resp_bytes',
    'conn_state',
    'local_orig',
    'local_resp',
    'missed_bytes',
    'history',
    'orig_pkts',
    'orig_ip_bytes',
    'resp_pkts',
    'resp_ip_bytes',
    'last_col'
]
df34[['tunnel_parents', 'label', 'detailed-label']] = df34['last_col'].str.split(expand=True)
df34.drop('last_col', axis=1, inplace=True)
print(df34.info())
df34.iloc[0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23146 entries, 0 to 23145
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ts              23146 non-null  object
 1   uid             23146 non-null  object
 2   id.orig_h       23145 non-null  object
 3   id.orig_p       23145 non-null  float64
 4   id.resp_h       23145 non-null  object
 5   id.resp_p       23145 non-null  float64
 6   proto           23145 non-null  object
 7   service         23145 non-null  object
 8   duration        23145 non-null  object
 9   orig_bytes      23145 non-null  object
 10  resp_bytes      23145 non-null  object
 11  conn_state      23145 non-null  object
 12  local_orig      23145 non-null  object
 13  local_resp      23145 non-null  object
 14  missed_bytes    23145 non-null  float64
 15  history         23145 non-null  object
 16  orig_pkts       23145 non-null  float64
 17  orig_ip_bytes   23145 non-null  float64
 18  resp_pkts       23145 non-null  float64
 19  resp_ip_bytes   23145 non-null  float64
 20  tunnel_parents  23145 non-null  object
 21  label           23145 non-null  object
 22  detailed-label  23145 non-null  object
dtypes: float64(7), object(16)
memory usage: 4.1+ MB
None

ts                1545403816.962094
uid               CrDn63WjJEmrWGjqf
id.orig_h             192.168.1.195
id.orig_p                   41040.0
id.resp_h            185.244.25.235
id.resp_p                      80.0
proto                           tcp
service                           -
duration                   3.139211
orig_bytes                        0
resp_bytes                        0
conn_state                       S0
local_orig                        -
local_resp                        -
missed_bytes                    0.0
history                           S
orig_pkts                       3.0
orig_ip_bytes                 180.0
resp_pkts                       0.0
resp_ip_bytes                   0.0
tunnel_parents                    -
label                        Benign
detailed-label                    -
Name: 0, dtype: object

In [147]:
# WHERE IS THE ERROR IN TIME...

# Assuming 'time_column' is the name of the column containing time strings in your DataFrame
df34['resp_ip_bytes'] = pd.to_numeric(df34['resp_ip_bytes'], errors='coerce')

# Print rows where the conversion resulted in NaT (indicating an invalid or unrecognized time format)
invalid_rows = df34[df34['resp_ip_bytes'].isna()]
print("Rows with invalid number format:")
print(invalid_rows)
# df34.iloc[23145]
df34.head()

Rows with invalid number format:
           ts                  uid id.orig_h  id.orig_p id.resp_h  id.resp_p  \
23145  #close  2019-03-15-14-50-54       NaN        NaN       NaN        NaN

      proto service duration orig_bytes  ... local_resp missed_bytes history  \
23145   NaN     NaN      NaN        NaN  ...        NaN          NaN     NaN

      orig_pkts  orig_ip_bytes resp_pkts  resp_ip_bytes  tunnel_parents  \
23145       NaN            NaN       NaN            NaN             NaN

       label  detailed-label
23145    NaN             NaN

[1 rows x 23 columns]

,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,orig_bytes,...,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents,label,detailed-label
0,1545403816.962094,CrDn63WjJEmrWGjqf,192.168.1.195,41040.0,185.244.25.235,80.0,tcp,-,3.139211,0,...,-,0.0,S,3.0,180.0,0.0,0.0,-,Benign,-
1,1545403824.181240,CY9lJW3gh1Eje4usP6,192.168.1.195,41040.0,185.244.25.235,80.0,tcp,-,-,-,...,-,0.0,S,1.0,60.0,0.0,0.0,-,Benign,-
2,1545403832.341331,CcFXLynukEDnUlvgl,192.168.1.195,41040.0,185.244.25.235,80.0,tcp,-,-,-,...,-,0.0,S,1.0,60.0,0.0,0.0,-,Benign,-
3,1545403848.981338,CDrkrSobGYxHhYfth,192.168.1.195,41040.0,185.244.25.235,80.0,tcp,http,1.477656,149,...,-,2896.0,ShADadttcfF,94.0,5525.0,96.0,139044.0,-,Benign,-
4,1545403850.554283,CTWZQf2oJSvq6zmPAc,192.168.1.195,41042.0,185.244.25.235,80.0,tcp,-,3.147116,0,...,-,0.0,S,3.0,180.0,0.0,0.0,-,Benign,-

In [148]:
# WHERE IS THE ERROR IN TIME...

# Assuming 'time_column' is the name of the column containing time strings in your DataFrame
df34['ts'] = pd.to_datetime(df34['ts'], errors='coerce', unit = 's')

# Print rows where the conversion resulted in NaT (indicating an invalid or unrecognized time format)
invalid_rows = df34[df34['ts'].isna()]
print("Rows with invalid time format:")
print(invalid_rows)
df34.head()

Rows with invalid time format:
       ts                  uid id.orig_h  id.orig_p id.resp_h  id.resp_p  \
23145 NaT  2019-03-15-14-50-54       NaN        NaN       NaN        NaN

      proto service duration orig_bytes  ... local_resp missed_bytes history  \
23145   NaN     NaN      NaN        NaN  ...        NaN          NaN     NaN

      orig_pkts  orig_ip_bytes resp_pkts  resp_ip_bytes  tunnel_parents  \
23145       NaN            NaN       NaN            NaN             NaN

       label  detailed-label
23145    NaN             NaN

[1 rows x 23 columns]

,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,orig_bytes,...,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents,label,detailed-label
0,2018-12-21 14:50:16.962094069,CrDn63WjJEmrWGjqf,192.168.1.195,41040.0,185.244.25.235,80.0,tcp,-,3.139211,0,...,-,0.0,S,3.0,180.0,0.0,0.0,-,Benign,-
1,2018-12-21 14:50:24.181240082,CY9lJW3gh1Eje4usP6,192.168.1.195,41040.0,185.244.25.235,80.0,tcp,-,-,-,...,-,0.0,S,1.0,60.0,0.0,0.0,-,Benign,-
2,2018-12-21 14:50:32.341331005,CcFXLynukEDnUlvgl,192.168.1.195,41040.0,185.244.25.235,80.0,tcp,-,-,-,...,-,0.0,S,1.0,60.0,0.0,0.0,-,Benign,-
3,2018-12-21 14:50:48.981338024,CDrkrSobGYxHhYfth,192.168.1.195,41040.0,185.244.25.235,80.0,tcp,http,1.477656,149,...,-,2896.0,ShADadttcfF,94.0,5525.0,96.0,139044.0,-,Benign,-
4,2018-12-21 14:50:50.554282904,CTWZQf2oJSvq6zmPAc,192.168.1.195,41042.0,185.244.25.235,80.0,tcp,-,3.147116,0,...,-,0.0,S,3.0,180.0,0.0,0.0,-,Benign,-

In [149]:
df34.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23146 entries, 0 to 23145
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ts              23145 non-null  datetime64[ns]
 1   uid             23146 non-null  object
 2   id.orig_h       23145 non-null  object
 3   id.orig_p       23145 non-null  float64
 4   id.resp_h       23145 non-null  object
 5   id.resp_p       23145 non-null  float64
 6   proto           23145 non-null  object
 7   service         23145 non-null  object
 8   duration        23145 non-null  object
 9   orig_bytes      23145 non-null  object
 10  resp_bytes      23145 non-null  object
 11  conn_state      23145 non-null  object
 12  local_orig      23145 non-null  object
 13  local_resp      23145 non-null  object
 14  missed_bytes    23145 non-null  float64
 15  history         23145 non-null  object
 16  orig_pkts       23145 non-null  float64
 17  orig_ip_bytes   23145 non-null  float64
 18  resp_pkts       23145 non-null  float64
 19  resp_ip_bytes   23145 non-null  float64
 20  tunnel_parents  23145 non-null  object
 21  label           23145 non-null  object
 22  detailed-label  23145 non-null  object
dtypes: datetime64[ns](1), float64(7), object(15)
memory usage: 4.1+ MB

In [150]:
# Extract the specified column
column_data = df34['resp_ip_bytes']

# Find unique values in the column
unique_values = np.unique(column_data)
print(unique_values)

[0.00000e+00 6.00000e+01 6.70000e+01 7.60000e+01 1.22000e+02 1.31000e+02
 1.79000e+02 2.28000e+02 2.53000e+02 2.62000e+02 3.04000e+02 3.28000e+02
 3.80000e+02 4.56000e+02 4.74000e+02 4.94000e+02 5.06000e+02 5.61000e+02
 5.62000e+02 5.63000e+02 5.80000e+02 5.89000e+02 6.06000e+02 6.08000e+02
 6.13000e+02 6.14000e+02 6.15000e+02 6.27000e+02 6.32000e+02 6.41000e+02
 6.44000e+02 6.57000e+02 6.58000e+02 6.67000e+02 6.74000e+02 6.84000e+02
 6.93000e+02 7.06000e+02 7.09000e+02 7.12000e+02 7.49000e+02 7.58000e+02
 9.40000e+02 6.15600e+03 7.12700e+03 2.22400e+04 2.80480e+04 3.00480e+04
 3.26160e+04 7.41590e+04 8.48240e+04 8.55240e+04 9.24530e+04 9.71070e+04
 1.00982e+05 1.01341e+05 1.10715e+05 1.14431e+05 1.31755e+05 1.33140e+05
 1.39044e+05 1.68910e+05         nan]

In [151]:
df34.replace('NULL', np.nan, inplace=True)
df34.replace('NaT', np.nan, inplace=True)
df34.replace('NaN', np.nan, inplace=True)

In [152]:
df34.dtypes

ts                datetime64[ns]
uid                       object
id.orig_h                 object
id.orig_p                float64
id.resp_h                 object
id.resp_p                float64
proto                     object
service                   object
duration                  object
orig_bytes                object
resp_bytes                object
conn_state                object
local_orig                object
local_resp                object
missed_bytes             float64
history                   object
orig_pkts                float64
orig_ip_bytes            float64
resp_pkts                float64
resp_ip_bytes            float64
tunnel_parents            object
label                     object
detailed-label            object
dtype: object

In [153]:
#time	string	addr	port	addr	port	enum	string	interval	count	count	string	bool	bool	count	string	count	count	count	count	set[string]   string   string
df34.replace('-', 'NULL', inplace=True)
# Replace 'NULL' with NaN (a common representation for missing values)
df34.replace('NULL', np.nan, inplace=True)

# column_types = {
#     'uid': str,
#     'id.orig_h': str,
#     'id.orig_p': str,
#     'id.resp_h': str,
#     'id.resp_p': int,
#     'proto': str,
#     'service': str,
#     'duration': str,
#     'orig_bytes': int,
#     'resp_bytes': int,
#     'conn_state': str,
#     'local_orig': bool,
#     'local_resp': bool,
#     'missed_bytes': int,
#     'history': object,
#     'orig_pkts': int,
#     'orig_ip_bytes': int,
#     'resp_pkts': int,
#     'resp_ip_bytes': int,
#     'tunnel_parents': str,
#     'label': str,
#     'detailed-label': str
# }

df34['uid'] = df34['uid'].astype(str)
df34['local_orig'] = df34['local_orig'].astype(bool)
df34['local_resp'] = df34['local_resp'].astype(bool)
df34['id.resp_p'] = df34['id.resp_p'].astype('Int64')
df34['orig_pkts'] = df34['orig_pkts'].astype('Int64')
df34['resp_pkts'] = df34['resp_pkts'].astype('Int64')
df34['orig_ip_bytes'] = df34['orig_ip_bytes'].astype('Int64')
df34['resp_ip_bytes'] = df34['resp_ip_bytes'].astype('Int64')


df34_clean = df34.copy()

In [154]:
def encode_label(data, col):
    label_column = data[col]

    # Encode 'Benign' as 0 and other values as 1 using boolean indexing
    label_column[label_column == 'Benign'] = 0
    label_column[label_column != 0] = 1

    # Print modified label column
    print("Modified label column:")
    print(label_column)

    # Update data array with the modified label column
    data[col] = label_column.astype(np.int32)  # Convert to float if necessary

    return data

In [155]:
def encode_detailed_label(data, col):
    label_column = data[col]
    
    # Encode 'Benign' as 0 and other values as 1 using boolean indexing
    label_column[label_column == '-'] = 0
    label_column[label_column == 'PartOfAHorizontalPortScan'] = 1
    label_column[label_column == 'Benign'] = 2
    label_column[label_column == 'Benign'] = 3
    label_column[label_column == 'Benign'] = 4
    label_column[label_column == 'Benign'] = 5
    label_column[label_column == 'Benign'] = 6
    label_column[label_column == 'Benign'] = 7
    # Print modified label column
    print("Modified label column:")
    print(label_column)

    # Update data array with the modified label column
    data[col] = label_column.astype(np.int32)  # Convert to float if necessary

    return data

In [156]:
def encode_unique_vals(data, col):
    """
    input is 2d numpy array of data, col name
    returns unqiue vals in column
    """

    # Extract the specified column
    column_data = data[col]

    # Find unique values in the column
    unique_values = np.unique(column_data)

    # Create a mapping from unique values to encoded integers
    value_to_int_map = {value: index for index, value in enumerate(unique_values)}

    # Encode the entire column using the mapping
    encoded_column = np.vectorize(value_to_int_map.get)(column_data)  

    data[col] = encoded_column

    return data

In [157]:
def one_hot_encode_column(df, column_name):
    """
    One-hot encodes the unique values in the specified column of a DataFrame.
    df: The input DataFrame.
    column_name: The name of the column to be one-hot encoded.
    
    Returns: DataFrame with the specified column one-hot encoded.
    """
    # Extract the specified column
    column_data = df[column_name]
    
    # Use pd.get_dummies to one-hot encode the column
    one_hot_encoded = pd.get_dummies(column_data, prefix=column_name)
    
    # Concatenate the one-hot encoded columns with the original DataFrame
    df_encoded = pd.concat([df, one_hot_encoded], axis=1)
    
    # Drop the original column as it's no longer needed
    df_encoded = df_encoded.drop(column_name, axis=1)
    
    return df_encoded

### Encoding Variables

In [158]:
# checks the unique values of all features
for column in df34.columns:
    unique_values = df34[column].unique()
    print(f"Column '{column}' has {len(unique_values)} unique values:")
    print(unique_values)
    print("------------------------")

Column 'ts' has 23146 unique values:
['2018-12-21T14:50:16.962094069' '2018-12-21T14:50:24.181240082'
 '2018-12-21T14:50:32.341331005' ... '2018-12-22T14:49:41.542212963'
 '2018-12-22T14:49:58.459568024'                           'NaT']
------------------------
Column 'uid' has 23146 unique values:
['CrDn63WjJEmrWGjqf' 'CY9lJW3gh1Eje4usP6' 'CcFXLynukEDnUlvgl' ...
 'CuXpFN3fWesWBXUhq1' 'Ct2Yhy4d33oL3yyZY9' '2019-03-15-14-50-54']
------------------------
Column 'id.orig_h' has 3 unique values:
['192.168.1.195' '192.168.1.1' nan]
------------------------
Column 'id.orig_p' has 4384 unique values:
[41040. 41042. 41044. ... 57110. 57092.    nan]
------------------------
Column 'id.resp_h' has 50 unique values:
['185.244.25.235' '147.231.100.5' '195.113.144.201' '82.113.53.40'
 '81.2.248.189' '89.221.210.188' '192.168.1.195' '81.2.254.224'
 '192.168.1.1' '194.182.80.233' '83.167.252.118' '212.96.160.147'
 '193.150.14.191' '77.78.107.252' '31.31.74.35' '109.224.76.139'
 '37.187.104.44' '78.108.102.237' '81.200.57.13' '81.0.208.219'
 '147.251.48.140' '81.2.254.32' '217.30.75.147' '185.189.115.149'
 '46.28.110.244' '94.124.107.190' '82.113.53.36' '46.28.109.26'
 '89.221.212.46' '5.1.56.123' '80.79.25.111' '37.157.194.44'
 '89.239.10.102' '89.221.214.130' '80.241.208.120' '80.190.97.205'
 '104.238.179.228' '80.151.151.109' '66.67.61.168' '1.1.1.1' '50.50.50.53'
 '136.243.177.133' '172.98.77.203' '146.0.32.144' '82.113.53.35'
 '195.21.137.209' '123.59.209.185' '74.91.117.248' '71.61.66.148' nan]
------------------------
Column 'id.resp_p' has 11 unique values:
<IntegerArray>
[80, 123, 6667, 22, 53, 63798, 67, 1, 256, 5376, <NA>]
Length: 11, dtype: Int64
------------------------
Column 'proto' has 3 unique values:
['tcp' 'udp' nan]
------------------------
Column 'service' has 5 unique values:
[nan 'http' 'irc' 'dns' 'dhcp']
------------------------
Column 'duration' has 4654 unique values:
['3.139211' nan '1.477656' ... '33.498912' '32.840994' '36.290833']
------------------------
Column 'orig_bytes' has 29 unique values:
['0' nan '149' '151' '148' '48' '952' '75' '152' '74' '150' '60' '288'
 '73' '156' '78' '39' '96' '384' '345' '13115' '2945024' '62' '2572' '595'
 '470' '75546624' '3643' '3445']
------------------------
Column 'resp_bytes' has 44 unique values:
['0' nan '128252' '128348' '91961' '99303' '48' '164266' '17192' '124067'
 '84592' '243' '100178' '83792' '242' '103381' '110211' '234' '112443'
 '124' '288' '241' '197' '103' '206' '94' '39' '384' '192' '240' '300'
 '144' '18031' '260' '269' '17210' '151' '195' '4324' '198' '4016' '133'
 '10996' '7313']
------------------------
Column 'conn_state' has 7 unique values:
['S0' 'SF' 'S3' 'RSTR' 'S1' 'OTH' nan]
------------------------
Column 'local_orig' has 1 unique values:
[ True]
------------------------
Column 'local_resp' has 1 unique values:
[ True]
------------------------
Column 'missed_bytes' has 4 unique values:
[   0. 2896. 5792.   nan]
------------------------
Column 'history' has 27 unique values:
['S' 'ShADadttcfF' 'ShADadtcfF' 'Dd' 'D' 'ShADadtctfF' 'DdAtaFf' 'ShAdDaf'
 'ShADacdtfF' 'ShADadtctfFR' 'ShAdDaft' 'ShADadttfF' 'ShAdfDr' 'ShAfdtDr'
 'ShAdDatf' 'ShAdDatfr' 'ShDadAf' 'ShAdD' 'ShADadf' 'ShAdDfr' 'ShAD' 'C'
 'CCCC' 'CCC' 'ShADad' 'ShAdDa' nan]
------------------------
Column 'orig_pkts' has 54 unique values:
<IntegerArray>
[    3,     1,    94,    96,    67,    75,   114,   200,    93,    62,     7,
     9,     8,    73,    82,    11,    78,     5,    10,     6,     4,     2,
  3069,  4088,  5110,  4084,  5105,  4080,  5100,  2206,  2038,   606,  1175,
  1023,   719,  2042,  2024,   239,    56,    12,    23,    53,    14,     0,
 18444,  5086,    19,  5008,    92,  3685,  3057,   226,   159,  <NA>]
Length: 54, dtype: Int64
------------------------
Column 'orig_ip_bytes' has 109 unique values:
<IntegerArray>
[   180,     60,   5525,   5699,   4148,   4412,     76,   6607,  11444,
   5571,
 ...
 200320,   3680, 147400, 122280,    538,  15767,    664,    600,  11778,
   <NA>]
Length: 109, dtype: Int64
------------------------
Column 'resp_pkts' has 29 unique values:
<IntegerArray>
[   0,   96,   92,   65,   69,    1,  117,  184,   60,    6,    8,    7,   71,
   61,   72,   81,   78,    4,    2,    5,    3, 1070,  289,   52,    9,   39,
  340,  285, <NA>]
Length: 29, dtype: Int64
------------------------
Column 'resp_ip_bytes' has 63 unique values:
<IntegerArray>
[     0, 139044, 133140,  92453,  97107,     76, 168910,  28048, 131755,
  84824,    563,    667,    627, 100982,  85524,    562, 101341,    615,
 114431,    606, 110715,    328,    456,    614,    613,    658,    709,
    253,    131,    262,    122,     67,    608,    304,    674,    380,
    561,    228,  74159,    632,    589,    684,    641,  32616,    179,
    657,   7127,    940,    474,    506,   6156,     60,    706,    580,
    693,    494,    749,  30048,    712,    758,    644,  22240,   <NA>]
Length: 63, dtype: Int64
------------------------
Column 'tunnel_parents' has 1 unique values:
[nan]
------------------------
Column 'label' has 3 unique values:
['Benign' 'Malicious' nan]
------------------------
Column 'detailed-label' has 4 unique values:
[nan 'C&C' 'PartOfAHorizontalPortScan' 'DDoS']
------------------------

In [159]:
mod_column = 'id.orig_h'
print("id.orig_h")
df34 = one_hot_encode_column(df34, 'id.orig_h')
print(df34.columns)

mod_column = 'proto'
print(mod_column)
df34 = one_hot_encode_column(df34, mod_column)
print(df34.columns)

mod_column = 'conn_state'
print(mod_column)
df34 = one_hot_encode_column(df34, mod_column)
print(df34.columns)

mod_column = 'local_orig'
print(mod_column)
df34 = one_hot_encode_column(df34, mod_column)
print(df34.columns)

mod_column = 'history'
print(mod_column)
df34 = one_hot_encode_column(df34, mod_column)
print(df34.columns)

id.orig_h
Index(['ts', 'uid', 'id.orig_p', 'id.resp_h', 'id.resp_p', 'proto', 'service',
       'duration', 'orig_bytes', 'resp_bytes', 'conn_state', 'local_orig',
       'local_resp', 'missed_bytes', 'history', 'orig_pkts', 'orig_ip_bytes',
       'resp_pkts', 'resp_ip_bytes', 'tunnel_parents', 'label',
       'detailed-label', 'id.orig_h_192.168.1.1', 'id.orig_h_192.168.1.195'],
      dtype='object')
proto
Index(['ts', 'uid', 'id.orig_p', 'id.resp_h', 'id.resp_p', 'service',
       'duration', 'orig_bytes', 'resp_bytes', 'conn_state', 'local_orig',
       'local_resp', 'missed_bytes', 'history', 'orig_pkts', 'orig_ip_bytes',
       'resp_pkts', 'resp_ip_bytes', 'tunnel_parents', 'label',
       'detailed-label', 'id.orig_h_192.168.1.1', 'id.orig_h_192.168.1.195',
       'proto_tcp', 'proto_udp'],
      dtype='object')
conn_state

Index(['ts', 'uid', 'id.orig_p', 'id.resp_h', 'id.resp_p', 'service',
       'duration', 'orig_bytes', 'resp_bytes', 'local_orig', 'local_resp',
       'missed_bytes', 'history', 'orig_pkts', 'orig_ip_bytes', 'resp_pkts',
       'resp_ip_bytes', 'tunnel_parents', 'label', 'detailed-label',
       'id.orig_h_192.168.1.1', 'id.orig_h_192.168.1.195', 'proto_tcp',
       'proto_udp', 'conn_state_OTH', 'conn_state_RSTR', 'conn_state_S0',
       'conn_state_S1', 'conn_state_S3', 'conn_state_SF'],
      dtype='object')
local_orig
Index(['ts', 'uid', 'id.orig_p', 'id.resp_h', 'id.resp_p', 'service',
       'duration', 'orig_bytes', 'resp_bytes', 'local_resp', 'missed_bytes',
       'history', 'orig_pkts', 'orig_ip_bytes', 'resp_pkts', 'resp_ip_bytes',
       'tunnel_parents', 'label', 'detailed-label', 'id.orig_h_192.168.1.1',
       'id.orig_h_192.168.1.195', 'proto_tcp', 'proto_udp', 'conn_state_OTH',
       'conn_state_RSTR', 'conn_state_S0', 'conn_state_S1', 'conn_state_S3',
       'conn_state_SF', 'local_orig_True'],
      dtype='object')
history
Index(['ts', 'uid', 'id.orig_p', 'id.resp_h', 'id.resp_p', 'service',
       'duration', 'orig_bytes', 'resp_bytes', 'local_resp', 'missed_bytes',
       'orig_pkts', 'orig_ip_bytes', 'resp_pkts', 'resp_ip_bytes',
       'tunnel_parents', 'label', 'detailed-label', 'id.orig_h_192.168.1.1',
       'id.orig_h_192.168.1.195', 'proto_tcp', 'proto_udp', 'conn_state_OTH',
       'conn_state_RSTR', 'conn_state_S0', 'conn_state_S1', 'conn_state_S3',
       'conn_state_SF', 'local_orig_True', 'history_C', 'history_CCC',
       'history_CCCC', 'history_D', 'history_Dd', 'history_DdAtaFf',
       'history_S', 'history_ShAD', 'history_ShADacdtfF', 'history_ShADad',
       'history_ShADadf', 'history_ShADadtcfF', 'history_ShADadtctfF',
       'history_ShADadtctfFR', 'history_ShADadttcfF', 'history_ShADadttfF',
       'history_ShAdD', 'history_ShAdDa', 'history_ShAdDaf',
       'history_ShAdDaft', 'history_ShAdDatf', 'history_ShAdDatfr',
       'history_ShAdDfr', 'history_ShAdfDr', 'history_ShAfdtDr',
       'history_ShDadAf'],
      dtype='object')

In [160]:
mod_column = 'label'
print(mod_column)
df34 = encode_label(df34, mod_column)
print(df34.columns)

label
Modified label column:
0        0
1        0
2        0
3        0
4        0
        ..
23141    1
23142    0
23143    0
23144    0
23145    1
Name: label, Length: 23146, dtype: object
Index(['ts', 'uid', 'id.orig_p', 'id.resp_h', 'id.resp_p', 'service',
       'duration', 'orig_bytes', 'resp_bytes', 'local_resp', 'missed_bytes',
       'orig_pkts', 'orig_ip_bytes', 'resp_pkts', 'resp_ip_bytes',
       'tunnel_parents', 'label', 'detailed-label', 'id.orig_h_192.168.1.1',
       'id.orig_h_192.168.1.195', 'proto_tcp', 'proto_udp', 'conn_state_OTH',
       'conn_state_RSTR', 'conn_state_S0', 'conn_state_S1', 'conn_state_S3',
       'conn_state_SF', 'local_orig_True', 'history_C', 'history_CCC',
       'history_CCCC', 'history_D', 'history_Dd', 'history_DdAtaFf',
       'history_S', 'history_ShAD', 'history_ShADacdtfF', 'history_ShADad',
       'history_ShADadf', 'history_ShADadtcfF', 'history_ShADadtctfF',
       'history_ShADadtctfFR', 'history_ShADadttcfF', 'history_ShADadttfF',
       'history_ShAdD', 'history_ShAdDa', 'history_ShAdDaf',
       'history_ShAdDaft', 'history_ShAdDatf', 'history_ShAdDatfr',
       'history_ShAdDfr', 'history_ShAdfDr', 'history_ShAfdtDr',
       'history_ShDadAf'],
      dtype='object')

/var/folders/d0/h45zywvj22n_kt7nclbz9sxc0000gn/T/ipykernel_2173/514613099.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  label_column[label_column == 'Benign'] = 0
/var/folders/d0/h45zywvj22n_kt7nclbz9sxc0000gn/T/ipykernel_2173/514613099.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  label_column[label_column != 0] = 1

In [161]:
print(df34.shape)
print(df34.columns)
print(df34['label'].unique())
df34['label'].iloc[65]

column = 'label'
unique_values = df34[column].unique()
print(f"Column '{column}' has {len(unique_values)} unique values:")
print(unique_values)

(23146, 55)
Index(['ts', 'uid', 'id.orig_p', 'id.resp_h', 'id.resp_p', 'service',
       'duration', 'orig_bytes', 'resp_bytes', 'local_resp', 'missed_bytes',
       'orig_pkts', 'orig_ip_bytes', 'resp_pkts', 'resp_ip_bytes',
       'tunnel_parents', 'label', 'detailed-label', 'id.orig_h_192.168.1.1',
       'id.orig_h_192.168.1.195', 'proto_tcp', 'proto_udp', 'conn_state_OTH',
       'conn_state_RSTR', 'conn_state_S0', 'conn_state_S1', 'conn_state_S3',
       'conn_state_SF', 'local_orig_True', 'history_C', 'history_CCC',
       'history_CCCC', 'history_D', 'history_Dd', 'history_DdAtaFf',
       'history_S', 'history_ShAD', 'history_ShADacdtfF', 'history_ShADad',
       'history_ShADadf', 'history_ShADadtcfF', 'history_ShADadtctfF',
       'history_ShADadtctfFR', 'history_ShADadttcfF', 'history_ShADadttfF',
       'history_ShAdD', 'history_ShAdDa', 'history_ShAdDaf',
       'history_ShAdDaft', 'history_ShAdDatf', 'history_ShAdDatfr',
       'history_ShAdDfr', 'history_ShAdfDr', 'history_ShAfdtDr',
       'history_ShDadAf'],
      dtype='object')
[0 1]
Column 'label' has 2 unique values:
[0 1]

In [162]:
filename = "train500k_preproc.csv"
df34.to_csv(filename, sep=',', index=False, encoding='utf-8')

In [164]:
# split the data df34
yData = df34[['label','detailed-label']]
xData = df34.drop(['label','detailed-label'],axis=1)

xData.to_csv("xTrain.csv",index=False)
yData.to_csv("yTrain.csv",index=False,)