In [45]:
import argparse
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [46]:
capture_43 = "/Users/yujinkwon/Documents/CS334/Final_project/train_data_500k 1.csv"

In [47]:

df43 = pd.read_table(capture_43, skiprows = 2, delimiter='\t', header =None) 
df43.columns = [
    'ts',	
    'uid',
    'id.orig_h',
    'id.orig_p',
    'id.resp_h',
    'id.resp_p',
    'proto',
    'service',
    'duration',
    'orig_bytes',
    'resp_bytes',
    'conn_state',
    'local_orig',
    'local_resp',
    'missed_bytes',
    'history',
    'orig_pkts',
    'orig_ip_bytes',
    'resp_pkts',
    'resp_ip_bytes',
    'last_col'
]
df43[['tunnel_parents', 'label', 'detailed-label']] = df43['last_col'].str.split(expand=True)
df43.drop('last_col', axis=1, inplace=True)

In [48]:
#time	string	addr	port	addr	port	enum	string	interval	count	count	string	bool	bool	count	string	count	count	count	count	set[string]   string   string

df43['ts'] = pd.to_datetime(df43['ts'], unit = 's')
df43.replace('-', 'NULL', inplace=True)
# Replace 'NULL' with NaN (a common representation for missing values)
df43.replace('NULL', np.nan, inplace=True)

# column_types = {
#     'uid': str,
#     'id.orig_h': str,
#     'id.orig_p': str,
#     'id.resp_h': str,
#     'id.resp_p': int,
#     'proto': str,
#     'service': str,
#     'duration': str,
#     'orig_bytes': int,
#     'resp_bytes': int,
#     'conn_state': str,
#     'local_orig': bool,
#     'local_resp': bool,
#     'missed_bytes': int,
#     'history': int,
#     'orig_pkts': int,
#     'orig_ip_bytes': int,
#     'resp_pkts': int,
#     'resp_ip_bytes': int,
#     'tunnel_parents': str,
#     'label': str,
#     'detailed-label': str
# }

df43['uid'] = df43['uid'].astype(str)
df43['local_orig'] = df43['local_orig'].astype(bool)
df43['local_resp'] = df43['local_resp'].astype(bool)
df43['resp_ip_bytes'] = df43['resp_ip_bytes'].astype(int)
df43['orig_ip_bytes'] = df43['orig_ip_bytes'].astype(int)

df43_clean = df43.copy()

In [49]:
def encode_label(data, col):
    label_column = data[col]

    # Encode 'Benign' as 0 and other values as 1 using boolean indexing
    label_column[label_column == 'Benign'] = 0
    label_column[label_column != 0] = 1

    # Print modified label column
    print("Modified label column:")
    print(label_column)

    # Update data array with the modified label column
    data[col] = label_column.astype(np.int32)  # Convert to float if necessary

    return data

In [ ]:
def encode_detailed_label(data, col):
    label_column = data[col]
    
    # Encode 'Benign' as 0 and other values as 1 using boolean indexing
    label_column[label_column == '-'] = 0
    label_column[label_column == 'PartOfAHorizontalPortScan'] = 1
    label_column[label_column == 'Benign'] = 2
    label_column[label_column == 'Benign'] = 3
    label_column[label_column == 'Benign'] = 4
    label_column[label_column == 'Benign'] = 5
    label_column[label_column == 'Benign'] = 6
    label_column[label_column == 'Benign'] = 7
    # Print modified label column
    print("Modified label column:")
    print(label_column)

    # Update data array with the modified label column
    data[col] = label_column.astype(np.int32)  # Convert to float if necessary

    return data

In [50]:
def encode_unique_vals(data, col):
    """
    input is 2d numpy array of data, col name
    returns unqiue vals in column
    """

    # Extract the specified column
    column_data = data[col]

    # Find unique values in the column
    unique_values = np.unique(column_data)

    # Create a mapping from unique values to encoded integers
    value_to_int_map = {value: index for index, value in enumerate(unique_values)}

    # Encode the entire column using the mapping
    encoded_column = np.vectorize(value_to_int_map.get)(column_data)  

    data[col] = encoded_column

    return data

In [51]:
def one_hot_encode_column(df, column_name):
    """
    One-hot encodes the unique values in the specified column of a DataFrame.
    df: The input DataFrame.
    column_name: The name of the column to be one-hot encoded.
    
    Returns: DataFrame with the specified column one-hot encoded.
    """
    # Extract the specified column
    column_data = df[column_name]
    
    # Use pd.get_dummies to one-hot encode the column
    one_hot_encoded = pd.get_dummies(column_data, prefix=column_name)
    
    # Concatenate the one-hot encoded columns with the original DataFrame
    df_encoded = pd.concat([df, one_hot_encoded], axis=1)
    
    # Drop the original column as it's no longer needed
    df_encoded = df_encoded.drop(column_name, axis=1)
    
    return df_encoded

### Encoding Variables

In [52]:
# checks the unique values of all features
for column in df43.columns:
    unique_values = df43[column].unique()
    print(f"Column '{column}' has {len(unique_values)} unique values:")
    print(unique_values)
    print("------------------------")

Column 'ts' has 500000 unique values:
['2019-01-10T18:26:04.116465920' '2019-01-10T18:26:04.117189888'
 '2019-01-10T18:26:04.123190016' ... '2019-01-10T19:28:24.129590016'
 '2019-01-10T19:28:24.172574976' '2019-01-10T19:28:24.178307072']
------------------------
Column 'uid' has 500000 unique values:
['CV8I6Z2gP1Bga6Y6sf' 'CDdpbB1squSUxjAZoe' 'CJR0PKYkXBHhTHSGf' ...
 'CpVjS41tYeTL0N8kai' 'Cg1gcQDZ4iAPoVghi' 'C04Pcp3fbonkupNIhi']
------------------------
Column 'id.orig_h' has 5 unique values:
['192.168.1.198' '91.96.91.149' '156.240.2.149' '91.16.171.210'
 '185.44.94.22']
------------------------
Column 'id.orig_p' has 570 unique values:
[22568 24360 24104 10803 11315 11571 54324 54836 54580 53994 52458 54250
 25030 24774 25542 55032 55288 54776 30496 30240 28704 49097 48841 41161
   123 29360 31416  1220 51476 51220 50708 49405 52989 53245 12986 10914
 15026 13486 13998 14254 32495 37615 32751 37359 32239 37871 32810 36922
 38962 49322 49426 49556 49620 49646 49682 49694 49910 49918 50146     3
 50304 50542 50684 50786 50830 49018 17268 28104 51094 23185 20233 43312
 24934 30769 65082 28540 38624 34602 30401 50312 48817 51938  5427 28682
 15711 56583 52392 49834 64987 64269 60360 40700 42372 18590 63423 23546
 48484 18255 19287 14790 10598 30692 20790 21657 62016 35772 15219 64802
 32371 24382 25323 13706 14905 13697 28795 12293  5912 42445 25285 34885
 28161 18763 52143 47402 42550 23945 42259  9758  7997 18001 34691 16444
 42066 51735 50257 36059 37117 62333 35975  8724  8982 25050 54433 44905
  2277 45487 59030 30265 24048 48398 36560 23028 28602 46482 38491 28583
 10103 15797 59458 52917 50163 21227 48434  4248 17483 56646 22644 41769
 58568 36755 51218 15067 48997 37521  6010 21727 29805  8302 14939 53189
 15809 43205 42353  1959 12099 44943 60446 39335  6947 22260 53975 26249
 59084 13243 57640 41998 32292 35055 36844 48976 26782 13779  9104 32373
 27358 16713 59396 38923 61606 58053  4998 41178  5558  1566  2399  1438
 26817  1028 49679 40165 48700 50554 15659 61192 55711 34918 25459 63811
 33855  3262 22923 54829 13909 11978 54101 58280 31701 17454 58028 11039
 42120 45082  6499 19126 56799 53990 24092 18948 27888 36760 40133 50179
 11646 26992 55062 36652 64114 56008 14822 56702 37868 53784 20941 35187
 48255 34935  2955 23215  8804  8557 31929 53225 22202 53877 53335 18337
  6864 14683  7164 44821 16373 14225 27862 57064 55015 43885 55728 55505
 19957 56718 45076 15764 45631 35493 49455 64701 19615 60307 34472 23299
  9361 25506  3944 45324 39201 58335 12189 33808 11768  3384 41601 33419
  9699 56463  2613 48987 55461  5080 16747 24162 61839  8766 42864   293
 51485 24058 26727 11065 50692 43425 48278 64665 36144 60638 37239 25643
 26147 53309  6840  2712 50514 16293  3708 50527 56693 25899 19905 36588
 38007 11381 31539 41986 17815 61330  7204  2479 23669 41192 46609 51785
 62436 13839   225 16811 27917 38618 18880  8360 13129 38152 14404 55260
 15653 22235  7159 58759 35104 22417  1108 25481 24235 53217 64479 63464
 49324 10272 58084 46018  3782  1031 17348 21950 35978 52589  4692 58467
 33442 51170  3449 29977 40269 55400 15433 10632 37751 26649 26129  3842
 31892 29781 26612 22218 21982 46427 18236 44210 59614 39203  7380 23693
 37968 59376 22092  7658 34884 60177 27881 12834  6931  1590  8508 33358
 59973  9555  2984  1195 10867 18862 37175 32367 47848 56373 18949  8135
 57077 46523 12541 50767 28670 50934 39878  4923 37415 14155 54431 16020
 54173 25614 59020 26511  3181 11733 21402  2644 25474 53586 51968 37650
 32236 23076 10191  7687 26955 19452 17757  7475 24420 46115 52934 37832
 46386 20873  2183 61659   308 57728 27787  5482 37814 59773 51849 55091
 16715  9436  9663 17729 55568 29725 48346 23791 15826 43851  4876 37317
 26665 41158 61333 43553 37789 42149 28209 15757 62838  5854 54754 59915
 14026 59174  2341 63797  7516  7307 27512 56336 44075 25764  9257 53355
 53769 57590  9472 56092 43922 21570 39033 30098 63032 61370  4707  3159
 32932 63931  6480 23496 56003 29578 23071 27304 14920 33391  7335 27887
 23811  2732 51172 51254 51356 51550 51878 51912 51944 51960 51998 50384
 52180 52174 52446 52532 52534 52588]
------------------------
Column 'id.resp_h' has 498650 unique values:
['45.83.147.92' '45.216.233.155' '185.146.197.92' ... '156.208.57.82'
 '185.113.186.101' '91.84.194.114']
------------------------
Column 'id.resp_p' has 9 unique values:
[52869 37215    23   123    45    13 27015    10     1]
------------------------
Column 'proto' has 3 unique values:
['tcp' 'udp' 'icmp']
------------------------
Column 'service' has 1 unique values:
[nan]
------------------------
Column 'duration' has 534 unique values:
[nan '3.104419' '3.119211' '2.022349' '1.015671' '1.054937' '3.128703'
 '1.016926' '3.149203' '3.140417' '3.119215' '3.068271' '3.099731'
 '3.159446' '3.174900' '3.151953' '4.123650' '2.042593' '3.119720'
 '2.042342' '2.154494' '3.109469' '2.112787' '3.129700' '1.007775'
 '3.162308' '3.147961' '2138.208288' '181.600389' '184.904719'
 '279.875600' '283.852587' '285.040600' '285.461343' '287.492504'
 '287.984450' '288.766527' '288.971629' '289.815107' '289.845421'
 '289.296198' '289.937841' '290.192726' '290.110010' '290.370032'
 '288.789263' '290.184379' '289.839579' '290.463063' '290.864556'
 '290.655431' '291.104903' '289.692184' '290.641335' '291.373950'
 '289.778258' '290.250187' '289.617470' '290.770133' '290.707724'
 '289.976537' '290.994963' '290.895333' '291.505895' '291.753708'
 '289.994785' '291.591406' '290.863272' '291.461412' '291.391980'
 '290.589734' '291.922938' '291.659374' '291.574912' '290.055717'
 '291.513701' '291.127990' '291.770360' '292.030192' '290.721602'
 '291.230145' '291.304282' '291.651356' '292.300305' '292.182831'
 '290.934850' '292.241809' '292.099132' '291.144347' '292.065076'
 '291.101185' '292.297470' '290.554197' '291.506455' '291.979666'
 '292.736226' '292.173250' '292.067370' '290.721125' '291.957936'
 '291.932203' '292.760185' '292.645585' '292.754225' '292.177953'
 '292.918389' '291.528191' '292.750162' '292.322542' '291.911012'
 '292.832914' '289.849895' '292.431925' '292.821460' '292.835948'
 '292.384982' '293.218238' '293.092800' '292.274511' '291.335486'
 '292.512128' '293.291080' '291.188111' '293.055550' '292.947917'
 '293.454824' '292.315648' '293.002816' '293.089551' '293.314869'
 '293.547090' '293.494231' '293.711423' '291.363524' '292.892187'
 '293.226246' '293.700639' '293.480088' '292.773462' '292.565529'
 '293.310383' '293.648759' '293.822869' '292.561085' '293.148487'
 '293.694834' '293.829341' '292.931437' '293.723656' '294.001724'
 '293.594696' '293.780409' '293.392110' '293.398824' '293.414390'
 '293.603452' '294.041232' '292.794148' '293.000117' '292.770178'
 '293.272472' '293.500520' '294.162860' '292.936323' '293.124525'
 '293.323757' '293.904928' '290.688151' '294.276571' '290.096528'
 '293.649022' '293.847156' '294.131729' '291.219863' '294.036412'
 '293.790643' '293.085787' '293.812138' '293.545318' '293.508488'
 '293.557211' '293.373352' '293.228666' '293.689659' '294.369274'
 '293.825399' '293.630198' '293.326661' '293.851306' '293.985289'
 '293.613234' '294.407039' '293.368348' '292.864351' '294.171192'
 '293.438864' '291.274318' '291.932387' '294.489749' '294.495912'
 '293.757912' '294.340559' '294.061727' '294.171183' '294.366355'
 '293.378627' '292.499842' '290.657442' '294.659077' '294.326562'
 '294.235361' '293.057614' '294.590154' '294.484961' '294.441464'
 '294.500202' '294.624449' '294.535202' '294.478689' '292.394733'
 '293.955260' '293.592447' '294.194105' '294.724770' '294.154124'
 '294.694561' '293.217704' '293.468496' '294.795768' '294.642968'
 '294.578378' '294.686642' '294.447146' '294.898723' '294.838239'
 '293.420838' '292.260592' '293.264159' '294.842992' '294.746599'
 '293.280692' '294.488161' '294.472941' '292.780963' '294.987716'
 '294.061016' '293.706699' '294.462961' '294.193987' '293.012813'
 '295.049448' '294.797807' '294.710351' '294.499916' '294.953237'
 '295.004210' '293.970074' '294.494181' '293.204687' '295.119952'
 '294.021391' '294.816577' '293.975311' '294.286819' '294.122687'
 '294.039043' '292.434174' '294.672896' '295.007901' '294.494960'
 '295.080178' '293.143465' '294.226411' '292.577339' '295.170297'
 '295.253493' '293.774675' '294.287335' '294.334381' '293.808456'
 '294.522030' '295.169344' '295.120403' '295.080694' '295.200486'
 '294.941474' '295.155415' '295.365752' '295.117088' '293.478729'
 '294.825520' '295.193826' '293.635774' '292.761435' '295.409021'
 '293.328802' '292.282787' '295.365515' '295.254288' '295.163563'
 '295.361070' '295.113177' '295.032946' '294.636180' '295.225586'
 '295.188521' '294.088424' '295.237332' '295.429469' '295.333271'
 '295.189423' '294.151897' '295.513932' '294.841271' '294.544691'
 '295.286728' '293.534758' '295.108637' '295.648428' '293.953211'
 '292.991403' '294.212372' '295.587098' '293.076521' '293.003081'
 '294.073477' '295.351302' '293.891773' '294.037210' '294.960849'
 '295.707566' '295.444689' '295.539099' '295.557126' '295.632587'
 '295.192889' '295.484640' '295.158827' '295.209268' '295.485588'
 '295.194531' '295.324437' '294.532677' '295.036370' '295.531399'
 '295.776508' '294.854773' '295.474371' '294.608891' '295.477344'
 '295.600665' '295.318611' '293.471890' '294.547207' '294.681365'
 '295.768026' '293.439831' '294.440735' '43.405217' '295.607808'
 '291.382276' '295.556776' '294.565932' '295.801504' '295.658016'
 '295.812451' '295.729268' '295.453691' '294.986218' '295.164865'
 '295.573642' '295.050906' '294.171946' '295.558642' '295.519115'
 '295.394992' '295.602835' '294.906403' '295.350001' '294.194689'
 '295.544888' '295.409413' '295.448726' '295.529922' '295.428129'
 '294.876483' '295.632297' '294.554462' '295.646338' '295.691853'
 '294.718611' '295.942354' '295.020893' '295.139911' '293.676936'
 '294.712055' '295.882595' '295.335300' '295.127613' '295.377473'
 '295.412873' '295.942833' '295.316779' '295.980565' '294.014238'
 '293.622743' '296.083850' '296.029609' '294.361056' '296.036665'
 '295.752947' '295.057668' '295.135399' '295.843936' '295.981619'
 '296.010586' '294.231166' '293.760651' '293.689886' '295.652368'
 '295.680246' '295.866483' '295.843964' '295.542625' '295.843905'
 '295.646257' '296.073124' '294.713292' '295.250364' '295.781264'
 '296.049366' '296.195030' '296.086081' '295.324251' '295.227332'
 '295.382715' '296.067041' '294.963178' '295.529601' '295.509147'
 '294.857781' '295.907392' '295.952675' '295.288528' '293.917857'
 '296.195804' '294.006803' '296.212467' '296.007619' '295.918627'
 '295.710235' '295.740109' '295.035956' '295.943878' '295.630111'
 '295.478106' '295.709558' '295.991814' '295.792072' '296.009853'
 '295.406962' '295.678998' '296.093537' '293.832190' '295.863466'
 '293.850565' '294.522020' '293.818623' '295.626337' '295.416425'
 '294.940788' '295.673749' '296.001370' '295.875431' '295.386440'
 '295.672026' '295.439385' '295.061192' '295.604791' '296.270406'
 '295.587248' '296.148050' '296.179235' '295.426713' '293.617245'
 '295.912358' '295.911457' '295.491976' '295.810438' '291.485943'
 '296.246541' '296.223973' '295.798544' '296.397941' '296.268956'
 '296.107568' '296.241234' '295.982860' '295.436902' '296.099493'
 '295.935189' '296.283785' '295.797579' '296.387163' '296.079578'
 '296.116626' '296.436431' '295.072642' '296.267653' '295.405159'
 '295.997861' '295.420030' '296.295955' '294.511702' '295.810702'
 '3.119484' '3.157477' '1.054458' '2.077039' '3.119735' '4.186086'
 '3.159719' '3.436280' '3.101262' '3.148210' '3.130735' '2.149297'
 '1311.650357' '3.100472' '0.000774' '3.119710' '3.149457' '3.130721'
 '3.140467']
------------------------
Column 'orig_bytes' has 108 unique values:
[nan '0' '78' '5175' '4675' '4775' '5450' '4700' '5200' '4825' '6150'
 '5600' '6725' '5550' '5725' '4975' '5400' '6050' '6125' '5675' '4925'
 '5225' '5925' '5125' '5800' '6625' '5100' '5575' '5150' '6075' '4550'
 '5300' '4900' '5525' '5500' '5625' '5325' '5650' '4800' '5050' '5775'
 '5350' '6875' '5975' '6100' '4950' '6175' '4725' '5375' '5850' '5700'
 '6450' '4650' '5075' '5425' '5900' '6275' '5825' '4875' '4750' '6375'
 '5250' '4850' '6400' '4400' '4475' '6300' '6250' '7000' '6600' '6200'
 '6350' '7250' '5000' '4600' '6850' '5950' '6550' '5475' '5025' '6025'
 '4450' '6325' '6225' '5875' '7175' '5275' '6700' '6650' '5750' '6475'
 '6500' '6525' '4375' '4525' '4625' '6950' '700' '6575' '6000' '7325'
 '4575' '6825' '6675' '7375' '4325' '6800' '26']
------------------------
Column 'resp_bytes' has 4 unique values:
[nan '0' '64' '28']
------------------------
Column 'conn_state' has 4 unique values:
['S0' 'OTH' 'SF' 'S1']
------------------------
Column 'local_orig' has 1 unique values:
[ True]
------------------------
Column 'local_resp' has 1 unique values:
[ True]
------------------------
Column 'missed_bytes' has 1 unique values:
[0]
------------------------
Column 'history' has 5 unique values:
['S' 'D' nan 'ShADadtfFr' 'ShADad']
------------------------
Column 'orig_pkts' has 109 unique values:
[  1   2   3 170 207 187 191 218 188 208 193 246 224 269 222 229 199 216
 242 245 227 197 209 237 205 232 265 204 223 206 243 182 212 196 221 220
 225 213 226 192 202 231 214 275 239 244 198 247 189 215 234 228 258 186
 203 217 236 251 233 195 190 255 210 194 256 176 179 252 250 280 264 248
 254 290 200 184 274 238 262 219 201 241 178 253 249 235 287 211 268 266
 230 259 260 261 175 181 185 278  28 263 240 293 183 273 267 295 173 272
  53]
------------------------
Column 'orig_ip_bytes' has 113 unique values:
[   40    76    80   180    60    56  9458 10971  9911 10123 11554  9964
 11024 10229 13038 11872 14257 11766 12137 10547 11448 12826 12985 12031
 10441 11077 12561 10865 12296 14045 10812 11819 10918 12879  9646 11236
 10388 11713 11660 11925 11289 11978 10176 10706 12243 11342 14575 12667
 12932 10494 13091 10017 11395 12402 12084 13674  9858 10759 11501 12508
 13303 12349 10335 10070 13515 11130 10282 13568  9328  9487 13356 13250
 14840 13992 13144 13462 15370 10600  9752 14522 12614 13886 11607 10653
 12773  9434 13409 13197 12455 15211 11183 14204 14098 12190 13727 13780
 13833  9275  9593  9805 14734  1484 13939 12720 15529  9699 14469 14151
 15635  9169 14416    68  2896]
------------------------
Column 'resp_pkts' has 3 unique values:
[ 0 96 20]
------------------------
Column 'resp_ip_bytes' has 3 unique values:
[   0 5116 1094]
------------------------
Column 'tunnel_parents' has 1 unique values:
[nan]
------------------------
Column 'label' has 2 unique values:
['Malicious' 'Benign']
------------------------
Column 'detailed-label' has 5 unique values:
['PartOfAHorizontalPortScan' 'Okiru' nan 'C&C' 'DDoS']
------------------------

In [53]:
mod_column = 'id.orig_h'
print("id.orig_h")
df43 = one_hot_encode_column(df43, 'id.orig_h')
print(df43.columns)

mod_column = 'proto'
print(mod_column)
df43 = one_hot_encode_column(df43, mod_column)
print(df43.columns)

mod_column = 'conn_state'
print(mod_column)
df43 = one_hot_encode_column(df43, mod_column)
print(df43.columns)

mod_column = 'local_orig'
print(mod_column)
df43 = one_hot_encode_column(df43, mod_column)
print(df43.columns)

mod_column = 'history'
print(mod_column)
df43 = one_hot_encode_column(df43, mod_column)
print(df43.columns)

id.orig_h
Index(['ts', 'uid', 'id.orig_p', 'id.resp_h', 'id.resp_p', 'proto', 'service',
       'duration', 'orig_bytes', 'resp_bytes', 'conn_state', 'local_orig',
       'local_resp', 'missed_bytes', 'history', 'orig_pkts', 'orig_ip_bytes',
       'resp_pkts', 'resp_ip_bytes', 'tunnel_parents', 'label',
       'detailed-label', 'id.orig_h_156.240.2.149', 'id.orig_h_185.44.94.22',
       'id.orig_h_192.168.1.198', 'id.orig_h_91.16.171.210',
       'id.orig_h_91.96.91.149'],
      dtype='object')
proto
Index(['ts', 'uid', 'id.orig_p', 'id.resp_h', 'id.resp_p', 'service',
       'duration', 'orig_bytes', 'resp_bytes', 'conn_state', 'local_orig',
       'local_resp', 'missed_bytes', 'history', 'orig_pkts', 'orig_ip_bytes',
       'resp_pkts', 'resp_ip_bytes', 'tunnel_parents', 'label',
       'detailed-label', 'id.orig_h_156.240.2.149', 'id.orig_h_185.44.94.22',
       'id.orig_h_192.168.1.198', 'id.orig_h_91.16.171.210',
       'id.orig_h_91.96.91.149', 'proto_icmp', 'proto_tcp', 'proto_udp'],
      dtype='object')
conn_state
Index(['ts', 'uid', 'id.orig_p', 'id.resp_h', 'id.resp_p', 'service',
       'duration', 'orig_bytes', 'resp_bytes', 'local_orig', 'local_resp',
       'missed_bytes', 'history', 'orig_pkts', 'orig_ip_bytes', 'resp_pkts',
       'resp_ip_bytes', 'tunnel_parents', 'label', 'detailed-label',
       'id.orig_h_156.240.2.149', 'id.orig_h_185.44.94.22',
       'id.orig_h_192.168.1.198', 'id.orig_h_91.16.171.210',
       'id.orig_h_91.96.91.149', 'proto_icmp', 'proto_tcp', 'proto_udp',
       'conn_state_OTH', 'conn_state_S0', 'conn_state_S1', 'conn_state_SF'],
      dtype='object')
local_orig
Index(['ts', 'uid', 'id.orig_p', 'id.resp_h', 'id.resp_p', 'service',
       'duration', 'orig_bytes', 'resp_bytes', 'local_resp', 'missed_bytes',
       'history', 'orig_pkts', 'orig_ip_bytes', 'resp_pkts', 'resp_ip_bytes',
       'tunnel_parents', 'label', 'detailed-label', 'id.orig_h_156.240.2.149',
       'id.orig_h_185.44.94.22', 'id.orig_h_192.168.1.198',
       'id.orig_h_91.16.171.210', 'id.orig_h_91.96.91.149', 'proto_icmp',
       'proto_tcp', 'proto_udp', 'conn_state_OTH', 'conn_state_S0',
       'conn_state_S1', 'conn_state_SF', 'local_orig_True'],
      dtype='object')
history
Index(['ts', 'uid', 'id.orig_p', 'id.resp_h', 'id.resp_p', 'service',
       'duration', 'orig_bytes', 'resp_bytes', 'local_resp', 'missed_bytes',
       'orig_pkts', 'orig_ip_bytes', 'resp_pkts', 'resp_ip_bytes',
       'tunnel_parents', 'label', 'detailed-label', 'id.orig_h_156.240.2.149',
       'id.orig_h_185.44.94.22', 'id.orig_h_192.168.1.198',
       'id.orig_h_91.16.171.210', 'id.orig_h_91.96.91.149', 'proto_icmp',
       'proto_tcp', 'proto_udp', 'conn_state_OTH', 'conn_state_S0',
       'conn_state_S1', 'conn_state_SF', 'local_orig_True', 'history_D',
       'history_S', 'history_ShADad', 'history_ShADadtfFr'],
      dtype='object')

In [54]:
mod_column = 'label'
print(mod_column)
df43 = encode_label(df43, mod_column)
print(df43.columns)

label
Modified label column:
0         1
1         1
2         1
3         1
4         1
         ..
499995    1
499996    1
499997    1
499998    1
499999    1
Name: label, Length: 500000, dtype: object
Index(['ts', 'uid', 'id.orig_p', 'id.resp_h', 'id.resp_p', 'service',
       'duration', 'orig_bytes', 'resp_bytes', 'local_resp', 'missed_bytes',
       'orig_pkts', 'orig_ip_bytes', 'resp_pkts', 'resp_ip_bytes',
       'tunnel_parents', 'label', 'detailed-label', 'id.orig_h_156.240.2.149',
       'id.orig_h_185.44.94.22', 'id.orig_h_192.168.1.198',
       'id.orig_h_91.16.171.210', 'id.orig_h_91.96.91.149', 'proto_icmp',
       'proto_tcp', 'proto_udp', 'conn_state_OTH', 'conn_state_S0',
       'conn_state_S1', 'conn_state_SF', 'local_orig_True', 'history_D',
       'history_S', 'history_ShADad', 'history_ShADadtfFr'],
      dtype='object')

/var/folders/d0/h45zywvj22n_kt7nclbz9sxc0000gn/T/ipykernel_19153/514613099.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  label_column[label_column == 'Benign'] = 0
/var/folders/d0/h45zywvj22n_kt7nclbz9sxc0000gn/T/ipykernel_19153/514613099.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  label_column[label_column != 0] = 1

In [58]:
print(df43.shape)
print(df43.columns)
print(df43['label'].unique())
df43['label'].iloc[65]

column = 'label'
unique_values = df43[column].unique()
print(f"Column '{column}' has {len(unique_values)} unique values:")
print(unique_values)

(500000, 35)
Index(['ts', 'uid', 'id.orig_p', 'id.resp_h', 'id.resp_p', 'service',
       'duration', 'orig_bytes', 'resp_bytes', 'local_resp', 'missed_bytes',
       'orig_pkts', 'orig_ip_bytes', 'resp_pkts', 'resp_ip_bytes',
       'tunnel_parents', 'label', 'detailed-label', 'id.orig_h_156.240.2.149',
       'id.orig_h_185.44.94.22', 'id.orig_h_192.168.1.198',
       'id.orig_h_91.16.171.210', 'id.orig_h_91.96.91.149', 'proto_icmp',
       'proto_tcp', 'proto_udp', 'conn_state_OTH', 'conn_state_S0',
       'conn_state_S1', 'conn_state_SF', 'local_orig_True', 'history_D',
       'history_S', 'history_ShADad', 'history_ShADadtfFr'],
      dtype='object')
[1 0]
Column 'label' has 2 unique values:
[1 0]

In [56]:
filename = "train500k_preproc.csv"
df43.to_csv(filename, sep=',', index=False, encoding='utf-8')

In [57]:
# split the data df43
yData = df43['label','detailed-label']
xData = df43.drop(['label','detailed-label'],axis=1)

xData.to_csv("xTrain.csv",index=False)
yData.to_csv("yTrain.csv",index=False,)

KeyError: ('label', 'detailed-label')