In [35]:
import argparse
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [36]:
capture_43 = "/Users/yujinkwon/Documents/CS334/Final_project/train_data_500k 1.csv"
capture_34 = "/Users/yujinkwon/Documents/CS334/Final_project/opt/Malware-Project/BigDataset/IoTScenarios/CTU-IoT-Malware-Capture-34-1/bro/conn.log.labeled"
capture_60 = "/Users/yujinkwon/Documents/CS334/Final_project/iot_malware_detection/data/60_train_data_500k.csv"
capture_35 = '/Users/yujinkwon/Documents/CS334/Final_project/iot_malware_detection/data/35_train_data_500k.csv'
capture_48 = '/Users/yujinkwon/Documents/CS334/Final_project/iot_malware_detection/data/48_train_data_500k.csv'
capture_44 = '/Users/yujinkwon/Documents/CS334/Final_project/opt/Malware-Project/BigDataset/IoTScenarios/CTU-IoT-Malware-Capture-44-1/bro/conn.log.labeled'
capture_49 = '/Users/yujinkwon/Documents/CS334/Final_project/iot_malware_detection/data/49_train_data_500k.csv'

## Reading in data + Typecasting

In [37]:

df43 = pd.read_table(capture_49, skiprows = 8, delimiter='\t', header =None) # for capture_43
# df43 = pd.read_table(capture_34, skiprows = 8, delimiter='\t', header =None) # for capture_34
df43.columns = [
    'ts',	
    'uid',
    'id.orig_h',
    'id.orig_p',
    'id.resp_h',
    'id.resp_p',
    'proto',
    'service',
    'duration',
    'orig_bytes',
    'resp_bytes',
    'conn_state',
    'local_orig',
    'local_resp',
    'missed_bytes',
    'history',
    'orig_pkts',
    'orig_ip_bytes',
    'resp_pkts',
    'resp_ip_bytes',
    'last_col'
]

df43[['tunnel_parents', 'label', 'detailed-label']] = df43['last_col'].str.split(expand=True)
df43.drop('last_col', axis=1, inplace=True)
df43.drop('ts', axis=1, inplace=True)
df43.drop('uid', axis=1, inplace=True)

In [38]:
#time	string	addr	port	addr	port	enum	string	interval	count	count	string	bool	bool	count	string	count	count	count	count	set[string]   string   string
# df43['ts'] = pd.to_datetime(df43['ts'], unit = 's')


# Replace 'NULL' with NaN (a common representation for missing values)
df43.replace('-', 'NULL', inplace=True)
df43.replace('NULL', np.nan, inplace=True)
df43.replace('NaT', np.nan, inplace=True)
df43.replace('NaN', np.nan, inplace=True)

# Type casting features as correct type

column_data = pd.to_numeric('duration', errors='coerce')
df43['local_orig'] = df43['local_orig'].astype(bool)
df43['local_resp'] = df43['local_resp'].astype(bool)
df43['orig_bytes'] = df43['orig_bytes'].astype('Int64')
df43['resp_bytes'] = df43['resp_bytes'].astype('Int64')
df43['duration'] = df43['duration'].astype(float)
df43['resp_bytes'] = df43['resp_bytes'].astype('Int64')
df43['id.resp_p'] = df43['id.resp_p'].astype('Int64')
df43['orig_pkts'] = df43['orig_pkts'].astype('Int64')
df43['resp_pkts'] = df43['resp_pkts'].astype('Int64')
df43['orig_ip_bytes'] = df43['orig_ip_bytes'].astype('Int64')
df43['resp_ip_bytes'] = pd.to_numeric(df43['resp_ip_bytes'], errors='coerce')
df43['resp_ip_bytes'] = df43['resp_ip_bytes'].astype('Int64')

df43_clean = df43.copy()
df43.dtypes

id.orig_h          object
id.orig_p           int64
id.resp_h          object
id.resp_p           Int64
proto              object
service            object
duration          float64
orig_bytes          Int64
resp_bytes          Int64
conn_state         object
local_orig           bool
local_resp           bool
missed_bytes        int64
history            object
orig_pkts           Int64
orig_ip_bytes       Int64
resp_pkts           Int64
resp_ip_bytes       Int64
tunnel_parents    float64
label              object
detailed-label     object
dtype: object

In [39]:
# checks the unique values of all features
for column in df43.columns:
    unique_values = df43[column].unique()
    print(f"Column '{column}' has {len(unique_values)} unique values:")
    print(unique_values)
    print("------------------------")

Column 'id.orig_h' has 141 unique values:
['192.168.1.193' '217.82.86.44' '63.135.227.145' '217.245.207.147'
 '217.146.2.74' '197.188.163.122' '217.194.192.56' '197.84.247.90'
 '14.0.9.94' '80.19.12.217' '197.228.160.180' '217.170.96.37'
 '217.14.176.6' '197.242.184.51' '212.67.128.162' '217.254.174.5'
 '212.71.98.4' '195.228.122.234' '46.255.52.102' '109.130.192.1'
 '197.13.3.6' '185.17.30.14' '62.93.77.141' '217.232.48.146'
 '217.80.202.117' '78.38.119.146' '197.149.93.18' '217.10.236.11'
 '217.253.31.208' '217.233.171.55' '41.39.43.252' '217.76.183.7'
 '217.252.158.141' '194.190.255.98' '217.85.27.164' '217.93.90.164'
 '217.93.120.130' '78.47.243.250' '217.252.233.136' '217.136.48.1'
 '197.13.3.22' '217.18.184.33' '217.139.84.70' '197.226.251.92'
 '217.0.196.154' '217.231.100.26' '37.19.5.1' '217.252.68.218'
 '217.236.103.90' '193.75.5.249' '197.215.100.194' '217.231.229.156'
 '217.228.247.150' '197.157.217.254' '217.88.96.15' '217.21.140.238'
 '217.238.110.58' '62.154.202.189' '130.244.32.57' '217.12.203.85'
 '80.87.78.74' '217.138.141.113' '109.236.144.125' '217.91.21.99'
 '217.81.255.81' '217.82.181.213' '217.80.122.157' '217.199.98.71'
 '217.80.243.21' '197.210.153.226' '196.27.100.190' '5.56.19.217'
 '217.227.119.4' '41.216.164.130' '109.130.208.1' '217.244.177.182'
 '139.97.7.182' '217.24.2.189' '217.119.35.97' '193.19.167.62'
 '217.230.109.3' '31.209.129.65' '217.81.213.228' '81.228.3.44'
 '217.226.137.50' '94.101.231.133' '217.253.186.242' '217.229.243.131'
 '217.66.77.213' '197.136.168.82' '109.236.144.132' '196.250.232.81'
 '217.231.150.82' '217.69.91.206' '197.249.64.142' '217.30.64.206'
 '80.89.176.244' '217.65.47.17' '217.83.68.22' '217.233.110.198'
 '141.136.100.42' '87.86.71.147' '217.88.51.56' '82.150.159.195'
 '196.35.208.248' '197.13.3.14' '41.38.121.205' '217.247.254.196'
 '217.69.91.200' '217.228.108.116' '217.250.51.215' '217.171.127.114'
 '217.113.41.238' '217.238.207.193' '196.35.208.249' '217.249.89.197'
 '217.255.201.198' '197.241.249.232' '217.160.123.70' '217.9.121.158'
 '217.86.123.22' '194.190.247.121' '217.56.105.53' '217.80.183.50'
 '217.22.225.126' '217.93.203.66' '62.214.33.234' '217.99.184.220'
 '217.232.73.80' '217.247.86.115' '41.39.101.140' '217.85.157.8'
 '197.84.247.89' '217.246.195.247' '217.251.28.245' '217.228.33.129'
 '217.138.147.26' '217.82.208.236' '62.119.152.238' '217.255.79.89'
 '217.86.31.90']
------------------------
Column 'id.orig_p' has 172 unique values:
[24159 30535 51374 51378 51382 39208     3 50232 57708   123 50240    11
 50244 50266 50280 50602 50302 50310 50340 50364  8081 50372 50416 50468
 50474 50502 50516 50526 50542 50564 50566 50598 50636 50640 50660 50674
 50680 50684 50688 35950 50716 50722 50742 50790 50798 50802 50814 50866
 50932 51014 40238 51036 51050 51052 51056 51108 51124 51130 51134 51138
 51150 51168 51180 51196 51212 51224 41204 51280 51286 51290 51352 51392
 51396 51410 51462 51476 51480 51498 51500 51512 51522 51538 51562 51566
 51568 51576 51592 51604 51648 51662 51672 51682 51698 51702 51724 51750
 51758 51764 51806 51818 51820 51856 51878 51880 51898 51906 51938 51956
 59330 51978 51986 52028 51994 52038 52044 52056 52078 52084 52098 52126
 52134 52162 52172 52190 52202 52236 52252 52256 52268 52288 52290 52292
 52304 52308 52310 52340 52414 52422 52428 52452 52456 52460 52464 52514
 45146 52550 52560 52580 52598 52610 52612 52628 52654 52692 52712 52738
 52706 52742 52744 52754 52758 52770 52776 52800 52790 52854 52862 52866
 52872 52876 52884 52898]
------------------------
Column 'id.resp_h' has 495991 unique values:
['197.177.56.151' '217.176.165.242' '197.243.182.120' ...
 '217.185.157.164' '197.162.126.130' '217.50.39.36']
------------------------
Column 'id.resp_p' has 10 unique values:
<IntegerArray>
[8081, 80, 13, 4554, 123, 0, 1, 10, 30535, 3]
Length: 10, dtype: Int64
------------------------
Column 'proto' has 3 unique values:
['tcp' 'icmp' 'udp']
------------------------
Column 'service' has 2 unique values:
[nan 'http']
------------------------
Column 'duration' has 1045 unique values:
[4.97000e-04 6.00000e-06 2.00000e-06 ... 7.25500e-03 3.09747e+00
 8.72280e-02]
------------------------
Column 'orig_bytes' has 13 unique values:
<IntegerArray>
[0, 149, 150, 56, 11, 96, 80, 136, 84, 112, 280, 88, 576]
Length: 13, dtype: Int64
------------------------
Column 'resp_bytes' has 6 unique values:
<IntegerArray>
[0, 119996, 165036, 11, 96, 480]
Length: 6, dtype: Int64
------------------------
Column 'conn_state' has 7 unique values:
['S0' 'SF' 'REJ' 'OTH' 'RSTR' 'RSTO' 'RSTOS0']
------------------------
Column 'local_orig' has 1 unique values:
[ True]
------------------------
Column 'local_resp' has 1 unique values:
[ True]
------------------------
Column 'missed_bytes' has 1 unique values:
[0]
------------------------
Column 'history' has 15 unique values:
['S' 'ShADadttfF' 'Sr' nan 'ShADdfrFr' 'D' 'ShADdrfFr' 'ShR' 'R' 'Dd'
 'ShADfdtrFr' 'ShAdfR' 'ShADdfFr' 'ShADadr' 'ShADard']
------------------------
Column 'orig_pkts' has 14 unique values:
<IntegerArray>
[6, 2, 4, 8, 12, 16, 10, 162, 192, 14, 20, 22, 18, 24]
Length: 14, dtype: Int64
------------------------
Column 'orig_ip_bytes' has 35 unique values:
<IntegerArray>
[  240,    80,   160,   320,   360,   480,   640,   400,  8906, 10476,   560,
   112,   558,   152,   678,   120,   800,   798,   136,   192,   880,   720,
   140,   662,   224,   806,   686,   926,   536,   782,   336,   144,   454,
   912,   960]
Length: 35, dtype: Int64
------------------------
Column 'resp_pkts' has 8 unique values:
<IntegerArray>
[0, 172, 234, 2, 10, 12, 6, 8]
Length: 8, dtype: Int64
------------------------
Column 'resp_ip_bytes' has 12 unique values:
<IntegerArray>
[0, 248952, 342256, 80, 510, 88, 152, 590, 350, 430, 534, 760]
Length: 12, dtype: Int64
------------------------
Column 'tunnel_parents' has 1 unique values:
[nan]
------------------------
Column 'label' has 2 unique values:
['Malicious' 'Benign']
------------------------
Column 'detailed-label' has 4 unique values:
['PartOfAHorizontalPortScan' nan 'FileDownload' 'C&C']
------------------------

### Modifying port --> integers

In [40]:
# Encoding id.orig_h, id.resp_h as Int64

def port_to_int(df, col_name): 
    # Iterate through each row in the DataFrame
    for pnt in range(len(df43[col_name])):
        if not pd.isna(df43.at[pnt, col_name]):
            x = str(df43.at[pnt, col_name])  # Convert the numerical value to a string
            z = ''
            parts = x.split('.')
            
            # Process each part of the IP address-like value
            for prt in range(4):
                if len(parts[prt]) == 3:
                    z = parts[prt] + z
                elif len(parts[prt]) == 2:
                    z = '0' + parts[prt] + z
                else:
                    z = '00' + parts[prt] + z
            
            # Update the DataFrame with the processed value
            df43.at[pnt, col_name] = int(z)
    
    
    return df43

df43 = port_to_int(df43, 'id.orig_h')
df43 = port_to_int(df43, 'id.resp_h')
df43['id.orig_h'] = df43['id.orig_h'].astype('Int64')
df43['id.resp_h'] = df43['id.resp_h'].astype('Int64')

## Encoding Catgegorical Features

In [41]:
# def encode_unique_vals(data, col):
#     """
#     input is 2d numpy array of data, col name
#     returns unqiue vals in column
#     """

#     # Extract the specified column
#     column_data = data[col]

#     # Find unique values in the column
#     unique_values = np.unique(column_data)

#     # Create a mapping from unique values to encoded integers
#     value_to_int_map = {value: index for index, value in enumerate(unique_values)}

#     # Encode the entire column using the mapping
#     encoded_column = np.vectorize(value_to_int_map.get)(column_data)  

#     data[col] = encoded_column

#     return data

# def encode_label(data, col):
#     label_column = data[col]

#     # Encode 'Benign' as 0 and other values as 1 using boolean indexing
#     label_column[label_column == 'Benign'] = 0
#     label_column[label_column != 0] = 1

#     # Print modified label column
#     print("Modified label column:")
#     print(label_column)

#     # Update data array with the modified label column
#     data[col] = label_column.astype(np.int32)  # Convert to float if necessary

#     return data

# def encode_detailed_label(data, col):
#     label_column = data[col]
    
#     # Encode 'Benign' as 0 and other values as 1 using boolean indexing
#     label_column[label_column == '-'] = 0
#     label_column[label_column == 'PartOfAHorizontalPortScan'] = 1
#     label_column[label_column == 'Benign'] = 2
#     label_column[label_column == 'Benign'] = 3
#     label_column[label_column == 'Benign'] = 4
#     label_column[label_column == 'Benign'] = 5
#     label_column[label_column == 'Benign'] = 6
#     label_column[label_column == 'Benign'] = 7
#     # Print modified label column
#     print("Modified label column:")
#     print(label_column)

#     # Update data array with the modified label column
#     data[col] = label_column.astype(np.int32)  # Convert to float if necessary

#     return data

In [42]:
def encode_label(data, col):

    # Encode 'Benign' as 0 and other values as 1 using boolean indexing
    data.loc[data[col] == 'Benign', col] = 0
    data.loc[data[col] != 0, col] =  1

    return data

In [43]:
def encode_detailed_label(data, col):

    # Encode Detialed label based on type of malicious attack
    data.loc[data[col] == np.nan, col] = 0
    data.loc[data[col] == 'PartOfAHorizontalPortScan', col] = 1
    data.loc[data[col] == 'Okiru', col] = 2
    data.loc[data[col] == 'C&C', col] = 3
    data.loc[data[col] == 'DDoS', col] = 4

    return data

In [44]:
def one_hot_encode_column(df, column_name):
    """
    One-hot encodes the unique values in the specified column of a DataFrame.
    df: The input DataFrame.
    column_name: The name of the column to be one-hot encoded.
    
    Returns: DataFrame with the specified column one-hot encoded.
    """

    # Extract the specified column
    column_data = df[column_name]
    
    # Use pd.get_dummies to one-hot encode the column
    one_hot_encoded = pd.get_dummies(column_data, prefix=column_name)
    
    # Concatenate the one-hot encoded columns with the original DataFrame
    df_encoded = pd.concat([df, one_hot_encoded], axis=1)
    
    # Drop the original column as it's no longer needed
    df_encoded = df_encoded.drop(column_name, axis=1)
    
    return df_encoded

### Encoding Variables

In [45]:
mod_column_list = ['proto', 'conn_state', 'history', 'service']

# Drop Nan Columns     
# Check if any column contains only NaN values
columns_with_allnan = df43.columns[df43.isna().all()]
df43 = df43.drop(columns=columns_with_allnan)

for mod_column in mod_column_list:
    if mod_column in columns_with_allnan:
        continue

    print(mod_column)
    df43 = one_hot_encode_column(df43, mod_column)

mod_column = 'label'
print(mod_column)
df43 = encode_label(df43, mod_column)

mod_column = 'detailed-label'
print(mod_column)
df34 = encode_detailed_label(df43, mod_column)

print(df34.columns)

proto
conn_state
history
service
label
detailed-label
Index(['id.orig_h', 'id.orig_p', 'id.resp_h', 'id.resp_p', 'duration',
       'orig_bytes', 'resp_bytes', 'local_orig', 'local_resp', 'missed_bytes',
       'orig_pkts', 'orig_ip_bytes', 'resp_pkts', 'resp_ip_bytes', 'label',
       'detailed-label', 'proto_icmp', 'proto_tcp', 'proto_udp',
       'conn_state_OTH', 'conn_state_REJ', 'conn_state_RSTO',
       'conn_state_RSTOS0', 'conn_state_RSTR', 'conn_state_S0',
       'conn_state_SF', 'history_D', 'history_Dd', 'history_R', 'history_S',
       'history_ShADadr', 'history_ShADadttfF', 'history_ShADard',
       'history_ShADdfFr', 'history_ShADdfrFr', 'history_ShADdrfFr',
       'history_ShADfdtrFr', 'history_ShAdfR', 'history_ShR', 'history_Sr',
       'service_http'],
      dtype='object')

## Dealing with Nan Values

In [46]:
col_list = ['id.orig_h', 'id.orig_p', 'id.resp_h', 'id.resp_p', 'duration', 'orig_bytes', 'resp_bytes',  'missed_bytes', 'orig_pkts',  'orig_ip_bytes',  'resp_pkts',  'resp_ip_bytes']

for col in col_list:
    # Replace NaN values with the median
    median_value = df43[col].median()
    df43[col] = df43[col].fillna(median_value)

## Transform Dataframe into file

In [47]:
# filename = "train500k_preproc.csv"
# df43.to_csv(filename, sep=',', index=False, encoding='utf-8')

In [48]:
# id.orig_h           Int64
# id.orig_p           int64
# id.resp_h           Int64
# id.resp_p           Int64
# proto              object
# service           float64
# duration          float64
# orig_bytes          Int64
# resp_bytes          Int64
# conn_state         object
# local_orig           bool
# local_resp           bool
# missed_bytes        int64
# history            object
# orig_pkts           Int64
# orig_ip_bytes       Int64
# resp_pkts           Int64
# resp_ip_bytes       Int64
# tunnel_parents    float64
# label              object
# detailed-label     object
# dtype: object

# Find columns with 'Int64' dtype
int_columns = df43.select_dtypes(include='Int64').columns

In [49]:
# split the data df43
yData = df43[['label','detailed-label']]
xData = df43.copy().drop(['label','detailed-label'],axis=1)

xData.to_csv("49_500Kre_xTrain.csv",index=False)
yData.to_csv("49_500Kre_yTrain.csv",index=False,)

In [50]:
# checks the unique values of all features
for column in df43.columns:
    unique_values = df43[column].unique()
    print(f"Column '{column}' has {len(unique_values)} unique values:")
    print(unique_values)
    print("------------------------")

Column 'id.orig_h' has 141 unique values:
<IntegerArray>
[193001168192,  44086082217, 145227135063, 147207245217,  74002146217,
 122163188197,  56192194217,  90247084197,  94009000014, 217012019080,
 ...
   8157085217,  89247084197, 247195246217, 245028251217, 129033228217,
  26147138217, 236208082217, 238152119062,  89079255217,  90031086217]
Length: 141, dtype: Int64
------------------------
Column 'id.orig_p' has 172 unique values:
[24159 30535 51374 51378 51382 39208     3 50232 57708   123 50240    11
 50244 50266 50280 50602 50302 50310 50340 50364  8081 50372 50416 50468
 50474 50502 50516 50526 50542 50564 50566 50598 50636 50640 50660 50674
 50680 50684 50688 35950 50716 50722 50742 50790 50798 50802 50814 50866
 50932 51014 40238 51036 51050 51052 51056 51108 51124 51130 51134 51138
 51150 51168 51180 51196 51212 51224 41204 51280 51286 51290 51352 51392
 51396 51410 51462 51476 51480 51498 51500 51512 51522 51538 51562 51566
 51568 51576 51592 51604 51648 51662 51672 51682 51698 51702 51724 51750
 51758 51764 51806 51818 51820 51856 51878 51880 51898 51906 51938 51956
 59330 51978 51986 52028 51994 52038 52044 52056 52078 52084 52098 52126
 52134 52162 52172 52190 52202 52236 52252 52256 52268 52288 52290 52292
 52304 52308 52310 52340 52414 52422 52428 52452 52456 52460 52464 52514
 45146 52550 52560 52580 52598 52610 52612 52628 52654 52692 52712 52738
 52706 52742 52744 52754 52758 52770 52776 52800 52790 52854 52862 52866
 52872 52876 52884 52898]
------------------------
Column 'id.resp_h' has 495991 unique values:
<IntegerArray>
[151056177197, 242165176217, 120182243197, 137137209197, 123159030217,
 109166215197, 185253243197,  95210009217,  54248178197, 109053183197,
 ...
 207192238197, 197104087217, 156090248197, 229237241197,  57243024197,
  64081112217,  39151136197, 164157185217, 130126162197,  36039050217]
Length: 495991, dtype: Int64
------------------------
Column 'id.resp_p' has 10 unique values:
<IntegerArray>
[8081, 80, 13, 4554, 123, 0, 1, 10, 30535, 3]
Length: 10, dtype: Int64
------------------------
Column 'duration' has 1045 unique values:
[4.97000e-04 6.00000e-06 2.00000e-06 ... 7.25500e-03 3.09747e+00
 8.72280e-02]
------------------------
Column 'orig_bytes' has 13 unique values:
<IntegerArray>
[0, 149, 150, 56, 11, 96, 80, 136, 84, 112, 280, 88, 576]
Length: 13, dtype: Int64
------------------------
Column 'resp_bytes' has 6 unique values:
<IntegerArray>
[0, 119996, 165036, 11, 96, 480]
Length: 6, dtype: Int64
------------------------
Column 'local_orig' has 1 unique values:
[ True]
------------------------
Column 'local_resp' has 1 unique values:
[ True]
------------------------
Column 'missed_bytes' has 1 unique values:
[0]
------------------------
Column 'orig_pkts' has 14 unique values:
<IntegerArray>
[6, 2, 4, 8, 12, 16, 10, 162, 192, 14, 20, 22, 18, 24]
Length: 14, dtype: Int64
------------------------
Column 'orig_ip_bytes' has 35 unique values:
<IntegerArray>
[  240,    80,   160,   320,   360,   480,   640,   400,  8906, 10476,   560,
   112,   558,   152,   678,   120,   800,   798,   136,   192,   880,   720,
   140,   662,   224,   806,   686,   926,   536,   782,   336,   144,   454,
   912,   960]
Length: 35, dtype: Int64
------------------------
Column 'resp_pkts' has 8 unique values:
<IntegerArray>
[0, 172, 234, 2, 10, 12, 6, 8]
Length: 8, dtype: Int64
------------------------
Column 'resp_ip_bytes' has 12 unique values:
<IntegerArray>
[0, 248952, 342256, 80, 510, 88, 152, 590, 350, 430, 534, 760]
Length: 12, dtype: Int64
------------------------
Column 'label' has 2 unique values:
[1 0]
------------------------
Column 'detailed-label' has 4 unique values:
[1 nan 'FileDownload' 3]
------------------------
Column 'proto_icmp' has 2 unique values:
[0 1]
------------------------
Column 'proto_tcp' has 2 unique values:
[1 0]
------------------------
Column 'proto_udp' has 2 unique values:
[0 1]
------------------------
Column 'conn_state_OTH' has 2 unique values:
[0 1]
------------------------
Column 'conn_state_REJ' has 2 unique values:
[0 1]
------------------------
Column 'conn_state_RSTO' has 2 unique values:
[0 1]
------------------------
Column 'conn_state_RSTOS0' has 2 unique values:
[0 1]
------------------------
Column 'conn_state_RSTR' has 2 unique values:
[0 1]
------------------------
Column 'conn_state_S0' has 2 unique values:
[1 0]
------------------------
Column 'conn_state_SF' has 2 unique values:
[0 1]
------------------------
Column 'history_D' has 2 unique values:
[0 1]
------------------------
Column 'history_Dd' has 2 unique values:
[0 1]
------------------------
Column 'history_R' has 2 unique values:
[0 1]
------------------------
Column 'history_S' has 2 unique values:
[1 0]
------------------------
Column 'history_ShADadr' has 2 unique values:
[0 1]
------------------------
Column 'history_ShADadttfF' has 2 unique values:
[0 1]
------------------------
Column 'history_ShADard' has 2 unique values:
[0 1]
------------------------
Column 'history_ShADdfFr' has 2 unique values:
[0 1]
------------------------
Column 'history_ShADdfrFr' has 2 unique values:
[0 1]
------------------------
Column 'history_ShADdrfFr' has 2 unique values:
[0 1]
------------------------
Column 'history_ShADfdtrFr' has 2 unique values:
[0 1]
------------------------
Column 'history_ShAdfR' has 2 unique values:
[0 1]
------------------------
Column 'history_ShR' has 2 unique values:
[0 1]
------------------------
Column 'history_Sr' has 2 unique values:
[0 1]
------------------------
Column 'service_http' has 2 unique values:
[0 1]
------------------------

In [51]:
df43.shape

(499994, 41)